extends layout

block content
    h1 AND THE WINNER IS!!!
    
    .content-container
    for subs in contestArr
        if subs.contest
            .winner-container
                h2 BOOM! THIS GUY!!!

                h4 #{subs.title}
                h5 #{subs.description}

                iframe(width='560' height='315' src='#{subs.vid}' frameborder='0' allowfullscreen)

        else if !subs.contest
            .loser-container
                h2 ... WHAT A LOSER!!!
                
                h4 #{subs.title}
                h5 #{subs.description}

                iframe(width='560' height='315' src='#{subs.vid}' frameborder='0' allowfullscreen)
