extends layout

block content

    h1 THESE ARE THE CURRENT SUBMISSIONS!!!

    for subs in subContainer

        .submission-container
            h2 Submittor: #{subs.name}
            
            h4 #{subs.title}
            h5 #{subs.description}

            iframe(width='560' height='315' src='#{subs.vid}' frameborder='0' allowfullscreen)

            form(method='POST' action='/vote/#{subs.slug}')
                input(type='submit' value='Vote For Me!')

            span Upvotes:  #{subs.vote}
